@use "../helpers/" as *;

.book-list {
  background-color: var(--color-cream);
  padding-bottom: rem(100);

  &__wrapper {
    padding-top: rem(60);
    padding-inline: rem(6);
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__inner {
    padding-top: rem(80);

    & > ul {
      padding-inline: rem(20);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
      gap: rem(20);
      justify-items: center;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color-cream-accent);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding-inline: fluid(20, 10);

    &--title {
      padding: rem(20) 0;
    }

    &--author {
      font-weight: 600;
      padding-top: fluid(80, 50);

      & > span {
        font-weight: 400;
      }
    }

    &--price {
      padding: rem(20) 0;
    }
  }
}
