@use "../helpers/" as *;
.button {
  font-family: var(--ff-main);
  padding: rem(10) rem(12);
  background-color: var(--color-pink);
  border: 1px solid;
  border-radius: rem(8);
  font-size: fluid(20, 16);
  

  &:hover {
    color: white;
    background-color: var(--color-red);
  }
}
