@use "../helpers/" as *;

.register {
  padding: rem(60) rem(6);
  display: flex;
  justify-content: center;

  &__fieldset {
    padding-bottom: rem(20);

    & > input {
      border-radius: rem(6);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(40);

    @include mobile {
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }
  }
  &__link {
    color: var(--color-dark-red);
    font-weight: 600;
    font-size: rem(20);
    padding-left: rem(32);

    &:hover {
        text-decoration: underline;
    }
  }
  &__message {
    display: flex;
    justify-content: center;
    padding-top: rem(40);
  }
}
