@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo2';
  src: url('./fonts/exo2.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

