@use "./helpers" as *;

:root {
  --container-width: 1920px;
  --transition-duration: 0.4s;
  --container-padding-x: 44px;

  --color-dark-red: #3b2626;
  --color-red: #6d1d1d;
  --color-pink: #f89498;
  --color-cream: #f1efe3;
  --color-cream-accent: #fdfcf8;

  --ff-main: "Inter", "sans-serif";
  --ff-accent: "Exo2", "sans-serif";

  --text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --border-black: 2px solid var(--color-total-black);
  --border-red: 1px solid var(--color-red);

  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --fill: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.66) 100%);
  --fill-alt: linear-gradient(114deg, rgba(0, 0, 0, 0.56) 0%, #000 100%);
}
